/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #000000;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #E8DDCA;
}

/* Custom CSS
-------------------------------------------------- */
body>.container {
  padding: 60px 15px 0;
}

.header {
  color: #8B0CE8;
}

.navbar {
  background-color: #53A6FF;
}

.navbar-brand {
  font-family: 'Passero One', cursive;
  font-size: 32px;
}

.user-table {
  color: #EFFF0D;
}

.user-name {
  color: #8B0CE8;
}

.user-games {
  color: #8B0CE8;
}


main {
  margin-bottom: 80px;
}

.welcome {
  color: #8B0CE8;
}

.game-search-bar>input {
  max-width: 200px;
}

.footer>.container {
  padding-right: 18px;
  padding-left: 18px;
}


h6>img {
  max-width: 25px;
}

.ownership {
  font-family: 'Diplomata SC', cursive;
  font-size: 16px;
}

.card {
  max-width: 100%;
  height: 500px;
  margin: 20px;
  margin-top: 0px;
}

.card-body {
  padding: 5px 20px;
}

h5.name,
h6.own {
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}

.mod-btn {
  max-width: 200px;
}


.modal-image {
  max-width: 300px;
  margin: auto;
}

.selectStyle {  
  color: #28a745;
  margin-left: 10px;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.card-img-top{
  height: 300px;
}

.gameMedia{
  margin-bottom: 10px;
}

.gamePicture{
  height: 200px;
}

.modal-content{
  background-color: #53A6FF;

}

.modal-header{
  color: #ffffff;
  border-bottom: none;
}

.holderView{
  background-color: #E8DDCA;
  border-radius: .3rem;
}