/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #000000;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #E8DDCA;
}
 /* Custom CSS
-------------------------------------------------- */
 body > .container {
  padding: 60px 15px 0;
}
.header {
  color: #8B0CE8;
}
 .navbar {
  background-color: #53A6FF;
}
 .navbar-brand {
  font-family: 'Passero One', cursive;
  font-size: 32px;
}
.user-table {
  color: #EFFF0D;
}
.media > img {
  max-width: 100px;
}
main {
  margin-bottom: 80px;
}
.welcome {
  color: #8B0CE8;
}
.game-search-bar > input {
  max-width: 200px;
}
 .footer > .container {
  padding-right: 18px;
  padding-left: 18px;
}
